.nav {
  margin-top: 20px;
  height: 40px;
  background: #a7e0ee;
}
.headerContent a img {
  width: 659px;
  height: 144px;
  margin: 0px auto;
  display: block;
}
.headerContent{
  width: 1024px;
  height: auto;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: auto;
  background-color: #eef3f5;
  padding-top: 24px;
}
body {
  margin: 0;
}
.nav ul {
  margin: 0;
  padding: 0;
}
.nav ul li {
  list-style: none;
}
.nav ul li a {
  text-decoration: none;
  float: left;
  display: block;
  padding: 10px 20px;
  color: black;
}
.nav ul li a:hover {
  color: white;
}
.headerBreak {
  width: 100%;
  height: 0;
  border-bottom: 2px solid #a7e0ee;
}
